.handOp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(1, 50px);
  text-align: center;
  color: white;
  font-size: 25px;
}
