.rightbuttons {
  border: 0.1px solid grey;
  background-color: rgb(255, 158, 11);
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
